.commentcardname{
    color:#252B42;
}
.bottomCardsSection{
    color : rgba(115, 115, 115, 1);
    width : 600px;
}
.bottomDiv{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.bottomDiv .bottomCardsSection:first-child {
    margin-left: auto !important;
}

.bottomDiv .bottomCardsSection:last-child {
    margin-right: auto !important;
}
.bottomDiv::-webkit-scrollbar{
    display: none;
}
.topReviewCardTag{
    color:#808191;
    font-size: 0.8rem;
}
.mediaCard{
    box-shadow:0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
    width: auto;
}
.topReviewSection{
    overflow : auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.reviewCardColumn{
    border: 1px solid rgba(63, 61, 86, 0.5);
    border-radius: 8px;
}
.topReviewSection::-webkit-scrollbar{
    display: none;
}
.topReviewSection .reviewCardColumn:first-child{
    margin-left: auto !important;
}
.topReviewSection .reviewCardColumn:last-child{
    margin-right: auto ;
}